* { 
margin: 0;
padding: 0;
border: 0;
  }

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
} 

body {
background-image: url(images/floor-tile.png);
}

body > .container {
  margin-top: 50px;
}

header {
  background: white;
  padding: 20px 0;
  border-bottom: 8px solid black;
}

nav {
  display: inline-block;
  width: 60%;
  text-align: right; 
}

nav a {
  text-decoration: none;
  font-weight:bold;
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 5px 5px;
  margin: 0 4px;
}

main,
aside {
  background-color: #f8f8f7;
}

main img {
  float: left;
  margin-right: 30px;
}

aside {
max-width: 30%;
padding: 10px;
float: left;
margin-right: 30px;
}

aside img {
  box-shadow: 1px 1px 5px black;
  border-radius:  10px;
  margin: 0 5px;
}

main {  
  margin: 0px auto;
  max-width: 600px;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  background: white;
  font-family: sans-serif;
  padding: 10px
 
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: sans-serif;
}

p {
margin: 20px 0;
}

h2 {
  font-size: 20px;
  border-bottom: double;
}